.contein {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  letter-spacing: 1.15px;
  text-align: start;
  color: #f5faff;
  margin: 0 auto;
  width: 100%;
}

.sectionHeader {
  font-weight: 400;
  margin-bottom: 20px;
  color: #ff9f3e;
}

.description {
  font-size: 18px;
  margin-bottom: 10px;
  word-spacing: 2px;
}

.contein section {
  margin: 0px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 20px 50px;
  border-radius: 10px;
}

.contein section:hover {
  transform: scale(1.01);
  transition: transform 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.55);
}

.contein section svg {
  fill: #ff9f3e;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.contein h4 {
  font-weight: 400;
  margin-bottom: 5px;
}

.contein ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contein li, p {
  font-weight: 300;
}

.strong {
  font-weight: 400;
  color: #ff9f3e;
}


@media screen and (max-width: 1060px) {
  .contein {
    gap: 15px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
